body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}
header{
  width: 100%;
  height: 50px;
  position: fixed;
  background: #F6F8F7;
  padding-bottom: 40px;
  box-shadow: 6px 0px 7px gray;
  margin-top: 0px;
  
}
header div{
  float: left;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 4px;
}
header .img1 {
  width: 60%
  
  
  
  
}

p{
  font-size: 80px;
}
/*section1 start*/
section{
  width: 100%;
  height: 750px;
  background: #F6F8F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.p1 .img2 {
  width: 50%;
}
.p1 {
  margin-left: 30px;
  margin-bottom: 120px;
}
.image2 {
  max-width: 100%;
  height:auto;
}
.p1 p {
  font-size: 20px;
  margin-left: 0px;
  color: gray;
  text-transform: uppercase;
}
.p1 h1 {
  color: #50627F;
  font-size: 50px;
  font-weight: bold;
}
.p1 h3 {
  color: #50627F;
  font-weight: normal;
  
}
.p1 a {
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #646464;
  background: linear-gradient(
  to left, 
  #7EDDD6,
  #377DF1)
  
}
/*section1 End*/
/*section2 start*/
.section2 {
  width: 100%;
  height: 750px;
  background: #F6F8F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.p2 .img3 {
  width: 50%;
}
.p2 {
  margin-left: 30px;
  margin-bottom: 120px;
}
.image3 {
  max-width: 100%;
  height:auto;
}
.p2 {
  font-size: 20px;
  margin-left: 0px;
  color: gray;
  text-transform: uppercase;
}
.p2 h1 {
  color: #50627F;
  font-size: 50px;
  font-weight: bold;
}
.p2 h3 {
  color: #50627F;
  font-weight: normal;
  
}
.aa1 {
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #646464;
  background: linear-gradient(
  to left, 
  #EFD469,
  #FA7739)
  
}
/*footer*/
f{
  float: left;
  
}


.fot1 p{
  font-size: 20px;
}
.fot p{
  font-size: 22px;
  margin-left:40px;
  color: #50627F;
  
}

.mainfot{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  background: #F6F8F7;
  
}
.fot, .fot1, .fot2{
  width: 33%;
  
}
.fot h3 {
  font-size: 30px;
  font-style: bold;
  color: #50627F;
  margin-left: 40px;
}

.fot1 h3 {
  font-size: 30px;
  font-style: bold;
  color: #50627F;

}
.fot2 h3 {
  font-size: 30px;
  font-style: bold;
  color: #50627F;
}
.fot2 i {
  font-size: 60px;
  font-style: bold;
  color: #50627F;
  justify-content: space-between;
}
.fot1 p {
  font-size: 26px;
  font-style: bold;
  color: #50627F;
}
.a5 {
  padding-left: 60px;
}
.checkbtn{
 display: none;
  font-size: 23px;
  color: #50627F;
  line-height: 80px;
  float: right;
  margin-right: 2px;
  
}
#check {
  display: none;
}
@media(max-width:768px ){
  header{
    width: 100%;
    height: 6%;
    margin-top:-180px;
    position:fixed;
  }
  header .logo{
    margin-left: 30px;
    padding: 20px;
  }
.checkbtn{
  display: block;
}

}
@media(max-width:768px){
  section {
    width: 100%;
    height: auto;
    display: block;
    
    
    
  }
  }
 .p1{
   margin: left;
   padding: 0;
   
 }
.p1 h3{
  margin-top: 50%;
}
.p1 h1{
  font-size: 40px;
}
.p1 p{
  font-size: 17px;
}
.img2 img{
  float: bottom;
  
  
}
}
